<!DOCTYPE html>
<html>
<head>
  <title>AngulaRank-application</title>
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>
  <!--Main App area-->

  <div class="container">
        <div class="header clearfix">
          <hr/>
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation" ><a href="#">Number of Contributions</a></li>
              <li role="presentation"><a href="#">Number of Repositories</a></li>
              <li role="presentation"><a href="#">Number of Followers</a></li>
            </ul>
          </nav>
          <h3 class="text-muted"><i class="fa fa-github" aria-hidden="true"></i>AngulaRepoRanker</h3>
        </div>

<hr/>
    <div class="page"></div>
  </div>
  <!--Contributors template-->
  <script type="text/template" id="contributors-template">
    <table class="table">
      <thead >
        <tr>
          <th>Position</th>
          <th>User</th>
          <th>URL</th>
          <th>Subscribtions</th>
          <th>Repositories</th>
          <th>Organizastions</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(obj.contributors, function(contributor){ %>
          <tr>
            <td><%- contributor.get('id') %></td>
            <td><%- contributor.get('login') %></td>
            <td><%- contributor.get('url') %></td>
            <td><%- contributor.get('subscriptions_url') %></td>
            <td><%- contributor.get('repos_url') %></td>
            <td><%- contributor.get('organizations_url') %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <!--Including necessary dependencies-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>


  <!--Backbone.js code/ Doing everything inline but module system is recommended-->
  <script>

   //Backbone contributors collection from GitHub developer API

   //Contributors Model
   var Contributor = Backbone.Model.extend();


   // Contributors collection
   var Contributors = Backbone.Collection.extend({
     model: Contributor,
     url: 'https://api.github.com/repos/angular/angular.js/contributors'
   });


   //Backbone view to render list of Angular repo contributors
   var ContributorsList = Backbone.View.extend({
     el: '.page',
     render: function () {
       var that = this;
       var contributor = new Contributor();
       var contributors = new Contributors();
       contributors.fetch({
         success: function (contributors) {
           var template = _.template($('#contributors-template').html(),{contributors:contributors.models});
           that.$el.html(template);
         }
       })
     }
   });

    //Router to load the Homepage
    var Router = Backbone.Router.extend({
      routes: {
        '':'home'
      }
    });

    //Creating instance of View to render list of Angular repo contributors
    var contributorsList = new ContributorsList();

    //Instance of the new model
    var contributor = new Contributor();
    //Creating instance of Homepage Router
    var router = new Router();
    router.on('route:home', function () {
      contributorsList.render();
    });
    //Kickstart backbone
    Backbone.history.start();
  </script>

</body>
</html>
