<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngulaRank-application</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />


</head>
<body>
  <!--Main App area-->

  <div class="container">
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-github" aria-hidden="true"></i>AngulaRank</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://github.com/angular/angular">Repository Details</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter by<span class="caret"></span></a>
            <ul class="dropdown-menu">

              <li><a href="#/followers">Number of followers</a></li>
              <li><a href="#/repositories">Repositories published</a></li>
            </ul>
          </li>
        </ul>
      </div>

      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
<hr/>
        <div class="row">
          <div class="col col-md-8">
            <div class="page"></div>
          </div>
        </div>



  </div>
  <!--Contributors template-->
  <script type="text/template" id="contributors-template">

        <table class="table table-striped">
          <thead class="thead-default">
            <tr>
              <th>User</th>
              <th>ID</th>
              <th>User Type</th>
              <th>site Admin</th>
              <th>Number of Contributions</th>
            </tr>
          </thead>
          <tbody>
            <% _.each(obj.contributors, function(contributor){ %>
              <tr>
                <td><%- contributor.get('login') %></td>
                <td><%- contributor.get('id') %></td>
                <td><%- contributor.get('type') %></td>
                <td><%- contributor.get('site_admin') %></td>
                <td><%- contributor.get('contributions') %></td>
                <td><button class="btn btn-info" data-toggle="collapse" data-target="#details"><a href="<%- contributor.get('html_url') %>">Show details</a></button></td>
                </tr>
            <% }); %>
          </tbody>
        </table>
  </script>



  <!--Filter by number of followers template-->
  <script type="text/template" id="number-of-followers-template">
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>User</th>
          <th>ID</th>
          <th>User Type</th>
          <th>site Admin</th>
          <th>Number of Followers</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(obj.followers, function(follower){ %>
          <tr>
            <td><%- follower.get('login') %></td>
            <td><%- follower.get('id') %></td>
            <td><%- follower.get('type') %></td>
            <td><%- follower.get('site_admin') %></td>
            <td><%- follower.get('followers') %></td>
            <td><button class="btn btn-info" data-toggle="collapse" data-target="#details"><a href="<%- follower.get('html_url') %>">Show details</a></button></td>
            </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <!--Filter by number of repositories published template-->
  <script type="text/template" id="number-of-repositories-template">
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>User</th>
          <th>ID</th>
          <th>User Type</th>
          <th>site Admin</th>
          <th>Number of Repos</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(obj.repositories, function(repository){ %>
          <tr>
            <td><%- repository.get('login') %></td>
            <td><%- repository.get('id') %></td>
            <td><%- repository.get('type') %></td>
            <td><%- repository.get('site_admin') %></td>
            <td><%- repository.get('public_repos') %></td>
            <td><button class="btn btn-info" data-toggle="collapse" data-target="#details"><a href="<%- repository.get('html_url') %>">Show details</a></button></td>
            </tr>
        <% }); %>
      </tbody>
    </table>
  </script>


  <!--Including necessary dependencies-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>



  <!--Backbone.js code(Doing everything inline but module system is recommended)-->
  <script>
   //Backbone contributors collection from GitHub developer API

   //Contributors Model
   var Contributor = Backbone.Model.extend({
   urlRoot: 'https://api.github.com/repos/angular/angular/contributor'

});


   // Contributors collection
   var Contributors = Backbone.Collection.extend({
     model: Contributor,
     url: 'https://api.github.com/repos/angular/angular/contributors'
   });


   //Rank by the number of followers Model
   var Follower = Backbone.Model.extend({
   urlRoot: 'https://api.github.com/repos/angular/angular/contributors?q=followers:>=1000'

});


   //Rank by the number of followers Collection
   var Followers = Backbone.Collection.extend({
     model: Follower,
     url: 'https://api.github.com/repos/angular/angular/contributors?q=followers:>=1000'
   });

   //Rank by the number of repositories Model
   var Repository = Backbone.Model.extend({
   urlRoot: 'https://api.github.com/repos/angular/angular/contributors?q=repos:>=1000'

  });


   //Rank by the number of repositories Collection
   var Repositories = Backbone.Collection.extend({
     model: Repository,
     url: 'https://api.github.com/repos/angular/angular/contributors?q=repos:>=1000'
   });



   //Backbone view to render list of Angular repo contributors
   var ContributorsList = Backbone.View.extend({
     el: '.page',
     render: function () {
       var that = this;
       var contributor = new Contributor();
       var contributors = new Contributors();
       contributors.fetch({
         success: function (contributors) {
           var template = _.template($('#contributors-template').html(),{contributors:contributors.models});
           that.$el.html(template);
         }
       })
     }

   });


   //Backbone view to render filtered list by number of followers
   var NumberFollowers = Backbone.View.extend({
     el: '.page',
     render: function () {
       var that = this;
       var follower = new Follower();
       var followers = new Followers();
       followers.fetch({
         success: function (followers) {
           var template = _.template($('#number-of-followers-template').html(),{followers:followers.models});
           that.$el.html(template);
         }
       })
     }

   });


      //Backbone view to render filtered list by number of repositories published
      var NumberRepositories = Backbone.View.extend({
        el: '.page',
        render: function () {
          var that = this;
          var repository = new Repository();
          var repositories = new Repositories();
          repositories.fetch({
            success: function (repositories) {
              var template = _.template($('#number-of-repositories-template').html(),{repositories:repositories.models});
              that.$el.html(template);
            }
          })
        }

      });


    //Routers
    var Router = Backbone.Router.extend({
      routes: {
        '':'home',
        'followers':'numFollowers',
        'repositories':'reposPublished'
      }
    });

    //Creating instance of View to render list of Angular repo contributors
    var contributorsList = new ContributorsList();


    //Creating instance of View to render filter by number of followers
    var numberFollowers = new NumberFollowers();

    //Creating instance of View to render filter by number of repositories
    var numberRepositories = new NumberRepositories();



    //Instance of the contributor model
    var contributor = new Contributor();

    //Instance of the follower model
    var follower = new Follower();

    //Instance of the repository model
    var repository = new Repository();

    //Creating instance of Homepage Router
    var router = new Router();
    router.on('route:home', function () {
      contributorsList.render();
    });


    //Creating instance of rank by number of followers Router
    router.on('route:numFollowers', function () {
      numberFollowers.render();
    });

    //Creating instance of rank by number of repositories publisded Router
    router.on('route:reposPublished', function () {
      numberRepositories.render()
    });

    //Kickstart backbone
    Backbone.history.start();
  </script>

</body>
</html>
